@use '../abstract/variaveis';
@use '../abstract/mixins';

footer {
    width: 100%;
    height: 21px;
    background: variaveis.$gradiente-primario;
    margin: 80px;
    display: flex;
    justify-content: center;  
    align-items: center;      

    p {
        @include mixins.ff-fs-cl(variaveis.$ft-textos, 1.2rem, variaveis.$cor-primaria);
        margin-top: 100px;
        
    }
}